.item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  justify-self: center;
  background-color: #fff;
  position: relative;

  &__img {
   width: 300px;
   height: 300px;
  }

  &__title {
    color: #4d4d4d;
  }

  &__like {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}